<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <add name="myDatabaseConnection" connectionString="server=10.215.86.236;user=fz6r11;database=delphiv2;port=3306;password=R3ci0sas.1985;"/>
  </connectionStrings>
</configuration>
